<a href="https://colab.research.google.com/github/notorious0789/Study-of-Loops-in-Python/blob/main/Practical_7_Study_of_Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment - 7
## Title : Study of Loops in Python
### Name : Apoorba Chatterjee
### PRN : 25070123020

In [ ]:
# While Loop
# Used when the number of iterations is not known.
Syntax
while condition:
  statement(s)

In [ ]:
# Print i as long as i is less than 6:
i=1
while i<=5:
  print(i)
  i +=1

1
2
3
4
5

In [ ]:
# Print numbers from 1 to N
i=1
N=int(input("Enter the value of N: "))
while i<N:
  print(i)
  i+=1

Enter the value of N: 7
1
2
3
4
5
6

In [ ]:
# Factorial of a Number
i=1
N=int(input("Enter the value of N: "))
f=1
while i<= N:
  f=f*i
  i+=1
print("Factorial of", N, "is", f)

Enter the value of N: 5
Factorial of 5 is 120

In [ ]:
# Factorial of a Number 2
n=int(input("Enter the value of n: "))
fact=1
while n>0:
  fact*=n
  n-=1
print("Factorial=",fact)

Enter the value of n: 6
Factorial= 720

In [ ]:
# Fibonacci Series using While Loop

a,b=0,1
count=0
n=int(input("Enter the number of terms: "))
print("THE SERIES IS :")
while count<n:
    print(a)
    a, b = b, a + b
    count += 1

Enter the number of terms: 5
THE SERIES IS :
0
1
1
2
3

In [ ]:
# Reverse a Number
n=int(input("Enter the number: "))
rev=0
while n>0:
    digit=n%10
    rev=(rev*10)+digit
    n=n//10
print("The reversed number is:", rev)

Enter the number: 456
The reversed number is: 654

In [ ]:
# Check Palindrome Number
n=int(input("Enter the number: "))
m=n
rev=0
while n>0:
    digit=n%10
    rev= (rev*10)+digit
    n=n//10
if m==rev:
    print(m,"is a palindrome number")
else:
    print(m,"is not a palindrome number")

Enter the number: 12321
12321 is a palindrome number

In [ ]:
# Check Palindrome for String
n=input("Enter the string: ")
i,j=0,len(n)-1
while i<j:
    if n[i]!=n[j]:
        print("Not a Palindrome")
        break
    i+=1
    j-=1
else:
    print("Palindrome")

Enter the string: malayalam
Palindrome

In [ ]:
# Count Digits in a Number
n=int(input("Enter the number: "))
count=0
while n>0:
    n=n//10
    count+=1
print(count)

Enter the number: 567
3

# The Break Statement
## With the break statement we can stop the loop even if the while condition is true:

In [ ]:
# Exit the loop when i is 3:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
# Search an element in a list
nums=[10,20,30,40,50]
key=int(input("Enter the element to search: "))
i=0
while i<len(nums):
    if nums[i]==key:
      print("Element found at index",i)
      break
    i+=1
else:
  print("Element not Found")

Enter the element to search: 20
Element found at index 1

In [ ]:
# Print numbers from 1 to 10 (skip 5)

i=1
while i<=10:
  if i == 5:
    i+=1
    continue
  print(i)
  i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
# Print only odd numbers (1 to 10)
i=1
while i<=10:
  if i%2== 0:
    i+=1
    continue
  print(i,end=" ")
  i+=1

1 3 5 7 9

# For Loops

In [ ]:
# Print numbers from 1 to 5 using for loop
for i in range(0,6):
  print(i,end=" ")

0 1 2 3 4 5

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# For Loop using Break, Continue and Pass function works same as that of a while loop

In [ ]:
# Print even numbers from 1 to 10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
# Sum of first N Numbers
N= int(input("Enter Number "))
sum=0
for i in range(1,N+1):
  sum+=i
print("Sum=", sum)

Enter Number 10
Sum= 55

In [ ]:
# Nested for loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 matrix display
A= [[1,2,3],
    [4,5,6,],
    [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print( )

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of Two 3x3 Matrices (most important)
A=[[1,2,3],
 [4,5,6],]
B=[[1,1,1],
 [6,5,4],
  [3,2,1]]

Result=[[0,0,0],
 [0,0,0]]

for i in range(2):
  for j in range(3):
    for k in range(2):
      Result[i][j]+=A[i][k]*B[k][j]


print("Product of Matrices")
for row in Result:
  print(row)

Product of Matrices
[13, 11, 9]
[34, 29, 24]

In [1]:
#Accept 3 digit number and print all possible combination
N=input('Enter 3 digit number:')
a=int(N[0])
b=int(N[1])
c=int(N[2])
d=[a,b,c]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

Enter 3 digit number:369
3 6 9
3 9 6
6 3 9
6 9 3
9 3 6
9 6 3

In [2]:

#Armstrong Number
N=input('Enter a number: ')
total=0

for i in N:
  total+= int(i)**len(N)

if total==int(N):
  print(N," is an Armstrong Number")
else:
  print(N," is not an Armstrong Number")

Enter a number: 153
153  is an Armstrong Number

In [3]:
# TRIANGLE
N=int(input('Enter a number: '))
for i in range(N):
  print(i*' ',(N-i)*(' *'))

Enter a number: 7
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [4]:
#Floyd's Series
n=int(input('Enter a number of rows of floyd series to be printed: '))
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end=' ')
    num+=1
  print()

Enter a number of rows of floyd series to be printed: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15